.QuestionDiv {
  border-top: 1px solid gainsboro !important;
  border-bottom: 1px solid gainsboro !important;
}

.displaytags {
  display: flex;
  flex-wrap: wrap;
}
.displaytagsQuetions {
  color: hsl(205, 36%, 53%);
  background-color: hsl(205, 53%, 88%);
  border-radius: 5px;
}
.askedOnuserPosted {
  width: 24% !important;
}

@media (max-width: 600px) {
  .askedOnuserPosted {
    margin-left: 70%;
    margin-right: 30%;
    margin-top: 0% !important;
    height: 40px;
  }
  .askedOnuserPosted p {
    margin-left: 0%;
    width: 150%;
  }
  .displaytagsDiv {
    margin-left: 10% !important;
  }
}
@media (min-width: 600px) and (max-width: 830px) {
  .displaytagsDiv {
    margin-left: 10% !important;
  }
}
