.RightSideBarDiv {
  float: right;
  width: 300px;
}
.BlogsDiv h4 {
  background-color: #fbf3d5;
  margin: 0%;
  padding: 15px;
  border: solid 1px #f1e5bc;
  font-size: 13px;
}
.BlogsDiv p {
  background-color: #fdf7e2;
  padding: 15px;
  border: solid 1px #f1e5bc;
  margin: 0px;
}
.BlogsDiv img {
  width: 13px;
}
.WatchedTags {
  margin-top: 40px;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 5%), -3px -3px 10px rgb(0 0 0 / 5%);
}
.WatchedTags h4 {
  margin: 0%;
  padding: 15px;
  background-color: #f8f9f9;
  border: solid 1px #e3e6e8;
  font-size: 13px;
}
.widgettagsdiv {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  border: solid 1px #e3e6e8;
  padding: 10px;
}

.widgettagsdiv p {
  padding: 5px;
  background-color: #e1ecf4;
  color: #39739d;
  border-radius: 2px;
  font-size: 13px;
}

@media (max-width: 830px) {
  .RightSideBarDiv {
    display: none;
  }
}
